# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# Ignore everything in the public/ directory
public/*

# Re-include specific files
!public/comment.svg
!public/favicon.svg
!public/favicon-centered-bluee.svg
!public/new_output.gif
!public/mermaid-diagram.png
!public/help-msg-new.png
!public/sitemap-index.xml
!public/fish-lsp-info.svg
