---

import "tw-base"
import MiniFish from 'components/MiniFish.astro';
import HeaderIcon from 'components/HeaderIcon.astro';
import Dropdown from 'components/Dropdown.astro';


---

<header class="max-w-full mx-auto max-h-min">
  <div class="relative flex items-center justify-between w-full px-4 py-2">
    <div class="hidden sm:block">
      <MiniFish />
    </div>
    <div class="sm:hidden">
      <a href="https://github.com/ndonfris/fish-lsp"><strong class="text-2xl underline text-gradient">fish-lsp</strong></a>
    </div>
    <div class="absolute inset-0 items-center justify-center hidden pointer-events-none sm:flex">
      <a href="https://github.com/ndonfris/fish-lsp" class="pointer-events-auto"><strong class="text-2xl underline text-gradient">fish-lsp</strong></a>
    </div>
    <div class="items-center hidden md:inline-flex">
      <div class=""><HeaderIcon name="github" /></div>
      <div class="px-4"><HeaderIcon name="npm" /></div>
      <div class=""><HeaderIcon name="vscode" /></div>
      <div class="pl-2 text-white"><HeaderIcon name="playground-terminal" label="playground" /></div>
    </div>
    <div class="block md:hidden">
      <Dropdown />
    </div>
  </div>
</header>
