---

import "tw-base"
import MiniFish from 'components/MiniFish.astro';
import HeaderIcon from 'components/HeaderIcon.astro';
import Dropdown from 'components/Dropdown.astro';


---
<!-- <div class="fixed top-0 left-0 w-full bg-gradient-to-t from-[#1d202f]/80 to-black/95"> -->
  <header class="max-w-4xl mx-auto max-h-min">
    <div class="container flex justify-between w-full my-auto">
    <div class="invisible w-0 my-auto sm:tracking-tightest sm:w-fit sm:visible">
      <MiniFish />
    </div>
      <div class="my-auto mr-auto text-sm sm:ml-auto text-nowrap">
        <span class="hidden sm:visible">  welcome to the </span>
        <a href="https://github.com/ndonfris/fish-lsp"><strong class="underline text-gradient">fish-lsp</strong></a>
        <!-- <a href="https://github.com/ndonfris/fish-lsp" class="float-left my-auto text-gradient sm:float-none">fish-lsp</a> -->
      </div>
      <div class="hidden sm:inline-flex sm:gap-5">
        <HeaderIcon name="github" />
        <HeaderIcon name="npm" />
      </div>
      <div class="visible sm:hidden">
        <Dropdown />
      </div>
    </div>
  </header>
<!-- </div> -->
