---
import "tw-base"
// import { Icon } from 'astro-icon/components';

---

<a href="https://github.com/ndonfris/fish-lsp" class="flex my-auto text-sm">

  <span class="font-black tracking-tighter text-pink-300 shadow-current">><(((°><span>
  <!-- <strong class="text-gradient">fish-lsp</strong> -->
  <!-- <Icon name="fish-bowl" class="inline"/> -->

</a>
<span>

